<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocationTracker"
        tools:targetApi="31">
        <activity
            android:name=".ui.directionmap.DirectionMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rechargeplans.RechargePlansActivity"
            android:exported="false" />
        <activity
            android:name=".ui.location.UserLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nearbyplaces.NearbyPlacesActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".ui.numberlocation.NumberLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.streetview.StreetViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ussd.USSDCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.siminfo.SIMInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.contact.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bank.BankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LocationTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>